<div class="container">

<div><h1 style="color:red;text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
"><center>The Viscount of all Sandwiches<center></h1></div>

<div><h3 style="color:darkolivegreen;     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
"><center>Create Your Own Burgers!</center></center></h3></div>

<div class="uneaten_list_container">
  {{#each burgers}}
  <div class="uneaten">
  <div class ="topbunsmall {{top_bun}}">{{name}}</div>
  {{#if lettice}}
  <div class="letticesmall"></div>{{/if}}
  <div class="cheesesmall {{cheese}}small"></div>
  <div class="meatsmall {{meat}}small"></div>
  <div class ="bottombunsmall {{bottom_bun}}"></div>
  <botton type="button"class = "eat_button"id={{id}}>EAT</botton>
   </div>{{/each}}
</div>

<div class="eaten_list_container">
  <h3>BURGER GRAVE</h3>
  {{#each eatenBurger}}
  <div>{{name}}</div>
  {{/each}}
</div>
<!-- (eq model.status "complete") -->

<form id="burger_form_container">
 <div class ="topbun topbun_form_container_white"><select class="topBunInput input" name="topBun">
                    <option value="white" selected>Select Top Bun</option>
                    <option value="white">white</option>
                    <option value="oats">oats</option>
                    <option value="wheat">wheat</option>
                    </select></div>
<div class="cheese cheese_form_container_prov"><select class="cheeseInput input" name="cheese">
                    <option value="provolone" selected>please Select Cheese</option>
                    <option value="provolone">provolone</option>
                     <option value="cheddar">cheddar</option>
                    <option value="blue">blue</option>
                    <option value="none">none</option>
                    </select></div>
<div class="veggies veggies_form_container_on"><select class= "veggiesInput input" name="Veggies">
    <option value=1 selected>Vegitables?</option>
    <option value=0>no</option>
    <option value=1>yes</option>
</select></div>
<div class="meat meat_form_container_chicken"><select class= "meatInput input" name="meat">
                    <option value="chicken" selected>select meat </option>
                    <option value="chicken">chicken</option>
                    <option value="beef">beef</option>
                    <option value="turkey">turkey</option>
					<option value="tofu">tofu</option> 
                  </select></div>
<div class="bottombun bottombun_form_container_white"><select class=" input bottomBunInput" name="bottomBun">
    <option value="white" selected>Select Bottom Bun</option>
    <option value="white">white</option>
    <option value="oats">oats</option>
    <option value="wheat">wheat</option> 
    </select></div>
                   
<div class="plate">                 
<input class="customer_name input" name = "customer" value ="name" placeholder="your name please"> <button id="submit_burger" type="submit">Submit</button>
</div> 
</form>


